body {
  background: rgb(13, 14, 14);
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #292626;
  width: 50em;
  height: 4em;
  align-items: center;
  margin: 0 auto;
  padding-left: 1em;
  border-left: rgb(218, 11, 11) solid 0.4em;
  position: relative;
  bottom: -15px;
}

#nav {
  height: 20px;
  width: 20px;
}

.nav1 {
  display: flex;
  align-items: center;
  font-family: "Roboto Mono";
  font-size: 25px;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}

img {
  height: 550px;
  width: 1150px;
  margin: 0 4.8%;
}

.text_inside {
  font-size: 42px;
  font-weight: bold;
  color: aliceblue;
  margin-left: 32%;
  position: relative;
  top: -8em;
}

.boxes {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-gap: 25px;
  margin-left: 16%;
  position: relative;
  top: -8em;
}

.box {
  padding: 2em 4em 4em 4em;
  color: aliceblue;
}

#one {
  background: rgb(189, 74, 28);
}

#two {
  background: rgb(30, 190, 164);
}

#three {
  padding-left: 3em;
  padding-right: 2em;
  background: rgb(250, 173, 6);
}

.logo1 {
  height: 49px;
  width: 60px;
}

.box_text {
  font-size: 25px;
  font-weight: 600;
}

.box_text2 {
  font-size: 15px;
  padding-top: 1em;
}

.page2 {
  margin: 0em 7em;
  display: flex;
  color: aliceblue;
}

.image2 {
  height: 20em;
  width: 35em;
}

.mid2 {
  margin-left: 1.75em;
  padding: 1.7em 1.5em 1em 1em;
  background-color: #292626;
}

.mid21 {
  font-size: 35px;
  font-weight: 600;
  color: aliceblue;
}

.mid22 {
  padding-top: 1em;
  font-size: 15px;
}

#button1 {
  background: transparent;
  border: white solid 0.1em;
  color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  padding: 0.7em;
  margin: 1em 0 0 0;
}

.page3 {
  margin: 8em 25em;
}
.content2 {
  color: aliceblue;
  margin: 2em 0;
}

#mid21 {
  margin-left: 3em;
}

.image_box {
  margin: 0 10%;
}

.img {
  height: 225px;
  width: 325px;
}

.img2 {
  height: 200px;
  width: 245px;
}

.img11 {
  display: flex;
}

.img12 {
  display: flex;
  margin-top: -3px;
}

.but1 {
  background: transparent;
  border: white solid 0.1em;
  color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  padding: 0.9em 2em 0.9em 2em;
  margin: 2em 0 0 37em;
}

.last {
  background: #292626;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 3em;
  margin: 4em 3em 1em 3em;
}

#last {
  opacity: 0.5;
  margin-top: 0.4em;
}

#email {
  background: transparent;
  border: white solid 0.2em;
  color: aliceblue;
  font-weight: 600;
  padding: 0.5em 1em;
}

.but2 {
  background: transparent;
  border: white solid 0.1em;
  color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5em 1em 0.5em 1em;
}

.ls {
  margin-top: 0.9em;
}

.name {
  font-size: 1.5em;
}

.footer21 {
  display: flex;
  justify-content: space-evenly;
}

#logo22 {
  height: 40px;
  width: 40px;
  margin-right: 1em;
  background: aliceblue;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  opacity: 0.5;
  margin: 0px auto;
}

@media (max-width: 476px) {
  .text_inside {
    font-size: 70px;
    margin-left: 4em;
  }

  .image1 {
    margin: 0 0.2em;
    height: 600px;
    width: 800px;
  }

  .boxes {
    display: grid;
    grid-template-columns: 500px;
    grid-gap: 25px;
    margin: 0 150px;
  }

  .box_text {
    font-size: 47px;
  }

  .box_text2 {
    font-size: 37px;
  }

  .page2 {
    flex-direction: column;
  }

  .mid2 {
    width: 465px;
    margin-left: 0.3em;
    padding: 3em;
  }

  .page3 {
    margin: 8em 12em;
  }

  .mid21 {
    font-size: 65px;
  }

  .mid22 {
    font-size: 37px;
  }

  #mid21 {
    margin: 0 1em;
    width: 400px;
  }

  #button1 {
    font-size: 27px;
    padding: 0.7em;
    margin: 1em 0 0 4.5em;
  }

  .content2 {
    margin-top: 0.5em;
    width: 500px;
    font-size: 37px;
  }

  .image_box {
    margin: 0 150px;
  }

  .img11 {
    display: flex;
    flex-direction: column;
  }

  .img12 {
    display: flex;
    flex-direction: column;
    margin-top: -3px;
  }

  .img {
    height: 300px;
    width: 450px;
    margin-bottom: 0.3em;
  }

  .img2 {
    height: 300px;
    width: 450px;
    margin-bottom: 0.3em;
  }

  .but1 {
    font-size: 25px;
    margin: 1em 10em;
  }

  .last {
    flex-direction: column;
    padding: 1em 2em;
    width: 400px;
    margin: 4em 5.5em;
    font-size: 25px;
  }

  .last1 {
    margin-bottom: 1em;
  }

  .last2 {
    margin-bottom: 1em;
  }

  .last3 {
    margin-bottom: 1em;
  }

  .nav1 {
    font-size: 50px;
  }

  #nav {
    height: 35px;
    width: 35px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    margin-left: 400px;
    font-size: 30px;
  }

  /* .footer2 {
    width: 400px;
  } */

  #logo22 {
    height: 80px;
    width: 80px;
  }

  .footer21 {
    margin-top: 1em;
  }

  #email {
    font-size: 25px;
  }

  .but2 {
    font-size: 25px;
  }
}
